﻿/* Footer style*/
#signature{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	height: inherit;
	left: 0px;
}

#aboutUs{
	position:relative;
	width: 100%;
	height: 40%;
	font-size: 20px;
	color: black;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter';
	padding-bottom: 35px;
	padding-left: 25%;
	padding-top: 5%;
	height: inherit;
	text-align: center;
}

#quote{
	font-family:Monotype Corsiva;
	text-align:center;
	font-size:30px;
}

.contact{
	top: 20%;
	position: fixed;
	width: 100%;
	height: 40%;
}
.contact table{
	font-size: 20px;
	color: black;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter';
}

#mainBodyForm{
	position: relative;
	top: 50px;
	left:25%;
	width: 40%;
	background: black;
	color: white;
	text-align: left;
	height: inherit;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 35px;
}


#contactText{
	position: relative;
	padding-bottom: 35px;
	padding-left: 25%;
	padding-top: 5%;
	height: inherit;
	font-size: 30px;
}

.imgContainer{
	width: 50px;
	height: 50px;
	overflow: hidden;
}

#profileImage{
	width: 100%;
}

#orderedRentedReturned{
	position: relative;
	padding-bottom: 35px;
	padding-left:20%;
}

#buttonEditProfile{
	position: relative;
	right: 0px;
	height: inherit;
}

#allBooks{
	position: relative;
	padding-bottom: 35px;
}

#buttonsAdmin{
	position:relative;
	padding-top: 5%;
}

#statisticsOfUsers{
	position: relative;
	padding-top: 5%;
	padding-bottom: 35px;
}

#title{
	position: relative;
	font-family: "Monotype Corsiva";
	padding-left: 35%;
}

.imgBookContainer{
	width: 150px;
	height: 200px;
	overflow: hidden;
}

.imgEditContainer{
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.imgBookingContainer{
	width: 300px;
	height: 250px;
	overflow: hidden;
	padding-left:90px;
}

#divUsers{
	position:relative;
	padding-top: 5%;
}

#divDetails{
	position: relative;
	padding-top: 5%;
	padding-left:5%;
}
