html
	head
		title About us
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		script(src="/javascripts/jQuery.js", type="text/javascript")
		script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
	body
		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#myNavbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="index") Home
						li.active
							a(href="#") About us
						li
							a(href="contact") Contact
					ul.nav.navbar-nav.navbar-right
						li
							#imgContainerId.imgContainer
								a(href="myProfile")
									img#profileImage(src="/images/profile.png")
						li#createAccountBtn
							a(href="createAccount")
								span
								|  Create account
						li#loginBtn
							a(href="login")
								span.glyphicon.glyphicon-log-in
								|  Login
						li
							a#logutBtn(href="#")
								span.glyphicon.glyphicon-log-out
								|  Logout
		#aboutUs.container-fluid
			.row.content
				#textAboutUs.col-sm-8.text-center
					| - located in Ljubljana
					br
					br
					|             - we offer different kinds of books: art, sci-fi, fantasy, biographies, romance, children, history, medicine,
					br
					|  religion, science, music etc.
					br
					br
					|             - completely free books for 2 weeks
					br
					br
					|             - join us and be part of our community!
					br
					br
					#quote "I cannot live without books." - Thomas Jefferson
		#signature
			| Copyright Web Programming - FRI
