html
  head
    title Create account
    | 	
    meta(charset="utf-8")
    |   	
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |   	
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    |   	
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |   	
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    |   	
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    |   	
    script(src="/javascripts/jQuery.js", type="text/javascript")
    | 	
    script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
    | 	
    script(src="/javascripts/createAccount.js", type="text/javascript")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            span.icon-bar
            |           
            span.icon-bar
            |           
            span.icon-bar
        |       
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="index") Home
            |           
            li
              a(href="aboutUs") About us
            |           
            li
              a(href="contact") Contact
          |         
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href="createAccount")
                span
                |  Create account
            |           
            li
              a(href="login")
                span.glyphicon.glyphicon-log-in
                |  Login
    |   
    .container-fluid
      .row.content
        #mainBodyForm.col-sm-8.text-center
          form#createAccountForm
            fieldset
              legend Complete the form bellow to create a new account:
              |                 
              .form-group.row
                label.col-sm-4.col-form-label(for="eMail") Your e-mail address:
                |                     
                .col-sm-7
                  input#eMail.form-control(type="email", placeholder="email@example.com", required="")
              |                 
              .form-group.row
                label.col-sm-4.col-form-label(for="inputPassword") Password :
                |                     
                .col-sm-7
                  input#inputPassword.form-control(type="password", placeholder="Password", name="pwd1", required="", title="Password must contain at least 6 characters, including UPPER/lowercase and numbers", pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');\
                  if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);")
              |                 
              .form-group.row
                label.col-sm-4.col-form-label(for="inputPasswordConfirm") Confirm password :
                |                     
                .col-sm-7
                  input#inputPasswordConfirm.form-control(type="password", placeholder="Confirm password", required="", name="pwd2", title="Please enter the same Password as above", pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}", onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');")
              |                 
              button#btn-create-account.btn.btn-primary(type="submit") Sign up
              |                   
              #successCreateAccountMsg.alert.alert-success
                strong Success!
                |  You have created and account. You can now login!
    |   
    #signature
      | Copyright Web Programming - FRI
