html
  head
    title Edit profile
    |
    meta(charset="utf-8")
    |
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    |
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    |
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    |
    script(src="/javascripts/jQuery.js", type="text/javascript")
    |
    script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
  script(type="text/javascript").
      window.onload = function() {
          document.getElementById('editImg_fileUpload').addEventListener('change', handleFileSelect, false);
      }
      function handleFileSelect(evt) {
          var reader = new FileReader();
          reader.onload = function (e) {
              // get loaded data and render thumbnail.
              document.getElementById("edit_image").src = e.target.result;
          };
          // read the image file as a data URL.
          reader.readAsDataURL(this.files[0]);
      }
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            span.icon-bar
            |
            span.icon-bar
            |
            span.icon-bar
        |
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="index") Home
            |
            li
              a(href="aboutUs") About us
            |
            li
              a(href="contact") Contact
    |
    .container-fluid
      .row.content
        .col-sm-10.text-center
          form
            fieldset
              legend Edit profile
              |
              .form-group.row
                .col-sm-6
                  .form-group.row
                    label.col-sm-4.col-form-label(for="edit_name") Name :
                    |
                    .col-sm-7
                      input#edit_name.form-control(type="text", placeholder="Enter name")
                  |
                  .form-group.row
                    label.col-sm-4.col-form-label(for="edit_surname") Surname :
                    |
                    .col-sm-7
                      input#edit_surname.form-control(type="text", placeholder="Enter surname")
                  |
                  .form-group.row
                    label.col-sm-4.col-form-label(for="edir_eMail") E-mail :
                    |
                    .col-sm-7
                      input#edir_eMail.form-control(type="email", placeholder="email@example.com")
                  |
                  .form-group.row
                    label.col-sm-4.col-form-label(for="edit_password") Password :
                    |
                    .col-sm-7
                      input#edit_password.form-control(type="password", placeholder="Password")
                  |
                  .form-group.row
                    label.col-sm-4.col-form-label(for="edit_passwordConfirm") Confirm password :
                    |
                    .col-sm-7
                      input#edit_passwordConfirm.form-control(type="password", placeholder="Confirm password")
                |
                .col-sm-5
                  .form-group.row
                    label.col-sm-4.col-form-label Edit image :
                    |
                    .col-sm-7
                      input#editImg_fileUpload.form-control-file(type="file")
                  |
                  .form-group.row
                    .imgEditContainer
                      img#edit_image.img-responsive
              |
              .form-group.row
                .col-sm-2
                  button.btn.btn-primary(type="submit") Save changes
    |
    #signature
      | Copyright Web Programming - FRI
