html
  head
    title Online library
    |   	
    meta(charset="utf-8")
    |   	
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |   	
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    |   	
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |   	
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    |   	
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    |   	
    script(src="/javascripts/jQuery.js", type="text/javascript")
    |   	
    script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
    |   	
    script(src="/javascripts/index.js", type="text/javascript")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
        |     
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href="#") Home
            |         
            li
              a(href="aboutUs") About us
            |         
            li
              a(href="contact") Contact
          |       
          ul.nav.navbar-nav.navbar-right
            li
              #imgContainerId.imgContainer
                a(href="myProfile")
                  img#profileImage(src="/images/profile.png")
            |         
            li#createAccountBtn
              a(href="createAccount")
                span
                |  Create account
            |         
            li#loginBtn
              a(href="login")
                span.glyphicon.glyphicon-log-in
                |  Login
            |         
            li
              a#logutBtn(href="#")
                span.glyphicon.glyphicon-log-out
                |  Logout
    #title
      h1 Online library - First chapter
    |   
    .divForm(style="padding-left:10px;")
      form.form-inline.my-2.my-lg-0
        .btn-group
          button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
            span.selection Title
            span.caret
          |       
          ul.dropdown-menu(role="menu")
            li
              a(href="#", style="font-family: serif; font-size: 18px") Title
            |         
            li
              a(href="#", style="font-family: serif; font-size: 18px") Author
            |         
            li
              a(href="#", style="font-family: serif; font-size: 18px") Subject
        |       
        input.form-control.mr-sm-2(type="text", placeholder="Search")
        |       
        button.btn.btn-secondary.my-2.my-sm-0(type="submit") Search
    .mostPopularBooks(style="text-align: left; font-size:20px; padding-left:10px;")
      strong Most popular books:
    .col-sm-1
    .container-fluid
      #popularBooks.row
    .allBooks(style="text-align: left; font-size:20px; padding-left:10px;")
      strong All books:
    .col-sm-1
    #allBooks.container-fluid
      #allBooksRow.row
    #signature
      | Copyright Web Programming - FRI
