html
  head
    title Online library
    |   
    meta(charset="utf-8")
    |   
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |   
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    |   
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |   
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    |   
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    |   
    script(src="/javascripts/jQuery.js", type="text/javascript")
    |   
    script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
        |     
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="indexAdmin") Home
          |       
          ul.nav.navbar-nav.navbar-right
            li#createAccountBtn
              a(href="createAccount")
                span
                |  Create account
            |         
            li#loginBtn
              a(href="login")
                span.glyphicon.glyphicon-log-in
                |  Login
            |         
            li
              a#logutBtn(href="#")
                span.glyphicon.glyphicon-log-out
                |  Logout
    |   
    #buttonsAdmin.container
      center
        a.btn.btn-info(href="addAbook", role="button") Add a book
        |         
        a.btn.btn-info(href="managingUsers", role="button") Managing users
        |         
        a.btn.btn-info(href="managingBooks", role="button") Managing books
        |         
        a.btn.btn-info(href="statistics", role="button") Statistics
    #signature
      | Copyright Web Programming - FRI
