html
  head
    title Login
    | 	
    meta(charset="utf-8")
    |   	
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |   	
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    |   	
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |   	
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    |   	
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    |   	
    script(src="/javascripts/jQuery.js", type="text/javascript")
    |   	
    script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
    |   	
    script(src="/javascripts/login.js", type="text/javascript")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            span.icon-bar
            |           
            span.icon-bar
            |           
            span.icon-bar
        |       
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="index") Home
            |           
            li
              a(href="aboutUs") About us
            |           
            li
              a(href="contact") Contact
          |         
          ul.nav.navbar-nav.navbar-right
            li
              a(href="createAccount")
                span
                |  Create account
            |           
            li.active
              a(href="login")
                span.glyphicon.glyphicon-log-in
                |  Login
    |   
    .container-fluid
      .row.content
        #mainBodyForm.col-sm-8.text-center
          form#loginform(autocomplete="on")
            fieldset
              legend Please enter your e-mail and password to access your account
              |           
              .form-group.row
                label.col-sm-3.col-form-label(for="login-username") Email :
                |               
                .col-sm-7
                  input#login-username.form-control(type="email", placeholder="email@example.com")
              |           
              .form-group.row
                label.col-sm-3.col-form-label(for="login-password") Password :
                |               
                .col-sm-7
                  input#login-password.form-control(type="password", placeholder="Password")
              |             
              #errorMessage.alert.alert-danger
                strong Danger!
                |  The email or password are incorrect!
              |           
              button#btn-login.btn.btn-primary(type="submit") Sign in
            |           
            a(href="forgetPassword") Forgot password?
    |   
    #signature
      | Copyright Web Programming - FRI
