html
  head
    title Managing orders
    | 	
    meta(charset="utf-8")
    |   
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |   
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    |   
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |   
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    |   
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    |   
    script(src="/javascripts/jQuery.js", type="text/javascript")
    |   
    script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
        |     
        ul.nav.navbar-nav
          li
            a(href="indexAdmin") Home
        |     
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li#createAccountBtn
              a(href="createAccount")
                span
                |  Create account
            |         
            li#loginBtn
              a(href="login")
                span.glyphicon.glyphicon-log-in
                |  Login
            |         
            li
              a#logutBtn(href="#")
                span.glyphicon.glyphicon-log-out
                |  Logout
    #orderedRentedReturned.container-fluid
      .row
        .col-sm-1
        |     
        |     
        .col-sm-3.text-left
          .orderedBooks(style="text-align: left; font-size:20px;")
            strong Ordered books:
          |         
          |     
          img.img-responsive(src="/images/orkanskivisovi.jpg", height="200px")
          |     
          h5 Wuthering Heights
          |     
          h6  Author:Emily Bronte
          |     
          button.btn.btn-danger(type="button") Rent
          |    
          |     
          img.img-responsive(src="/images/stranac.jpg", height="200px")
          |     
          h5 The Stranger
          |     
          h6 Author:Albert Camus
          |     
          button.btn.btn-danger(type="button") Rent
        |     
        |     
        .col-sm-1
        |     
        .col-sm-3
          .rentedBooks(style="text-align: left; font-size:20px;")
            strong Rented books:
          |         
          |       
          img.img-responsive(src="/images/zlocinIKazna.jpg", height="200px")
          |       
          h5 Crime and Punishment
          |       
          h6 Author:Fjodor M. Dostojevski
          |       
          button.btn.btn-danger(type="button") Return
          |       
          |       
          img.img-responsive(src="/images/ilijada.jpg", height="200px")
          |       
          h5 Iliad and Odyssey
          |       
          h6 Author:Homer
          |        
          button.btn.btn-danger(type="button") Return
        |     
        |     
        .col-sm-1
    #signature
      | Copyright Web Programming - FRI
