html
  head
    title My profile
    | 	
    meta(charset="utf-8")
    |   	
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |   	
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    |   	
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    |   	
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    |   	
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    |   	
    script(src="/javascripts/jQuery.js", type="text/javascript")
    |   	
    script(src="/javascripts/jqueryFunctions.js", type="text/javascript")
    |   	
    script(src="/javascripts/myProfile.js", type="text/javascript")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
        |     
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="index") Home
            |         
            li
              a(href="#") About us
            |         
            li
              a(href="contact") Contact
          |       
          ul.nav.navbar-nav.navbar-right
            li.active
              #imgContainerId.imgContainer
                img#profileImage(src="/images/profile.png")
            |         
            li#createAccountBtn
              a(href="createAccount")
                span
                |  Create account
            |         
            li#loginBtn
              a(href="login")
                span.glyphicon.glyphicon-log-in
                |  Login
            |         
            li
              a#logutBtn(href="#")
                span.glyphicon.glyphicon-log-out
                |  Logout
    #orderedRentedReturned.container-fluid
      .row
        #orderedBooksCol.col-sm-2.text-left
          .allOrderedBooks(style="text-align: left; font-size:20px;")
            strong All ordered books:
          // <div>
          // <img class="img-responsive" src="images/orkanskivisovi.jpg"  height="200px"></img>
          // <h5>Wuthering Heights</h5>
          // <h6> Author:Emily Bronte</h6>
          // <button type="button" class="btn btn-danger">Delete</button>
          // </div>
          // <div>
          // <img class="img-responsive" src="images/stranac.jpg" height="200px"></img>
          // <h5>The Stranger</h5>
          // <h6>Author:Albert Camus</h6>
          // <button type="button" class="btn btn-danger">Delete</button>
          // </div>
        |     
        |     
        .col-sm-1
        |     
        .col-sm-2
          .rentedBooks(style="text-align: left; font-size:20px;")
            strong Rented books:
          |         
          |       
          img.img-responsive(src="/images/zlocinIKazna.jpg", height="200px")
          |       
          h5 Crime and Punishment
          |       
          h6 Author:Fjodor M. Dostojevski
          |       
          h6
            strong Due date:28.11.2017.
          |       
          |       
          img.img-responsive(src="/images/ilijada.jpg", height="200px")
          |       
          h5 Iliad and Odyssey
          |       
          h6 Author:Homer
          |       
          h6
            strong Due date:12.12.2017.
        |     
        |     
        .col-sm-1
        |     
        .col-sm-2.text-left
          .returnedBooks(style="text-align: left; font-size:20px;")
            strong Returned books:
          |         
          |         
          img.img-responsive(src="/images/anaKarenjina.jpg", height="200px")
          |         
          h5 Anna Karenina
          |         
          h6 Author:Lav Tolstoj
          |     
          |         
          img.img-responsive(src="/images/stoGodinaSamoce.jpg", height="200px")
          |         
          h5 One Hundred Years of Solitude
          |         
          h6 Author:Gabriel Garcia Marquez
        |       
        |     
        #buttonEditProfile.col-sm-2
          a.btn.btn-info(href="editProfile", role="button") Edit profile
    #signature
      | Copyright Web Programming - FRI
