<html>

<head>
    <title>User details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/jQuery.js" type="text/javascript"></script>
    <script src="/javascripts/jqueryFunctions.js" type="text/javascript"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="indexAdmin">Home</a></li>
        </ul>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li id="createAccountBtn"><a href="createAccount"><span ></span> Create account</a></li>
                <li id="loginBtn"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ><a id="logutBtn" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="divDetails">
    <div class = "row">
        <div class="col-sm-2 text-left">
            <img class="img-responsive" src="/images/profile-picture.png"  height="200px"></a>
            <a class="btn btn-info" href="managingOrders" role="button">Manage orders</a>
        </div>

        <div class="col-sm-4 text-left">
            <h3><strong>Name:</strong></h3> <h3>Bozen</h3><br>
            <h3><strong>Surname:</strong> </h3><h3>Jovanovski</h3><br>
            <h3> <strong>E-mail</strong> </h3><h3>bozen@jovanovski.com</h3><br>
        </div>

    </div>
</div>
<div id="signature">
    Copyright Web Programming - FRI
</div>

</body>
</html>